.cv-container {
  background-color: white;
  max-width: 60%;
  position: sticky;
  top: 2rem;
  height: 90vh;
  margin: 1rem;
  aspect-ratio: 1 / 1.414;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  container-type: inline-size;
}

.personal-cv {
  height: 20%;
  background-color: var(--dark-primary-color);
  border-radius: 5px 5px 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.personal-cv h1 {
  text-align: center;
  font-size: 5cqw;
}

.personal-cv p {
  font-size: 2.75cqw;
}

.personal-cv img {
  height: 2.5cqw;
}

.contact {
  display: flex;
  justify-content: space-evenly;
}

.email,
.phone,
.location {
  display: flex;
  flex-direction: column;
}

.experience-cv h1 {
  font-size: 5cqw;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--dark-primary-color);
}

.formation {
  padding: 2cqw 4cqw 0 4cqw;
  font-size: 2.5cqw;
  display: grid;
  grid-template-columns: 30% 1fr;
  justify-items: start;
}

.school {
  font-weight: 800;
}
